<div class="container-sidebar">
    <div class="sidebar">
        <ul>
            <li><a href="../updateImage" routerLink="../updateImage">photo</a></li>
            <li><a href="../updateInformations" routerLink="../updateInformations">Informations personnelles</a></li>
            <li><a href="../updatePassword" routerLink="../updatePassword">Mot de Passe</a></li>
        </ul>
    </div>
    <div class="content">
        <div id="gestion-mot-de-passe" class="page">
            <h2>Modifier Mot de Passe</h2>
            <div class="containerReclamation">
                <form class="contact-form" *ngIf="!isSuccessful" [formGroup]="form" novalidate>
                    <div class="form-group">
                        <label for="oldPassword">Ancien Mot de Passe</label>
                        <div class="password-input">
                            <input [(ngModel)]="oldPassword" [type]="passwordVisible ? 'text' : 'password'"
                                formControlName="oldPassword" required minlength="6"
                                title="Veuillez entrer votre ancien mot de passe" />
                            <i class="toggle-password fas" [class.fa-eye]="!passwordVisible"
                                [class.fa-eye-slash]="passwordVisible" (click)="togglePasswordVisibility()"></i>
                        </div>
                        <div style="color: red;"
                            *ngIf="form.controls['oldPassword'].invalid && (form.controls['oldPassword'].dirty || form.controls['oldPassword'].touched)">
                            <div style="color: red;" *ngIf="form.controls['oldPassword'].errors?.['required']">Le mot de passe actuel est requis.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPassword">Nouveau Mot de Passe</label>
                        <div class="password-input">
                            <input [(ngModel)]="newPassword" [type]="passwordVisible2 ? 'text' : 'password'"
                                formControlName="newPassword" required minlength="6"
                                title="Le mot de passe doit contenir au moins une lettre minuscule, une lettre majuscule, un chiffre, et un caractère spécial." />
                            <i class="toggle-password fas" [class.fa-eye]="!passwordVisible"
                                [class.fa-eye-slash]="passwordVisible2" (click)="togglePasswordVisibility2()"></i>
                        </div>
                        <div style="color: red;"
                            *ngIf="form.controls['newPassword'].invalid && (form.controls['newPassword'].dirty || form.controls['newPassword'].touched)">
                            <div style="color: red;" *ngIf="form.controls['newPassword'].errors?.['required']">Le nouveau mot de passe est requis.</div>
                            <div style="color: red;" *ngIf="form.controls['newPassword'].errors?.['minlength']">Le mot de passe doit contenir au moins 6 caractères.</div>
                            <div style="color: red;" *ngIf="form.controls['newPassword'].errors?.['pattern']?.lowercase">Le mot de passe doit contenir au moins une lettre minuscule.</div>
                            <div style="color: red;" *ngIf="form.controls['newPassword'].errors?.['pattern']?.uppercase">Le mot de passe doit contenir au moins une lettre majuscule.</div>
                            <div style="color: red;" *ngIf="form.controls['newPassword'].errors?.['pattern']?.number">Le mot de passe doit contenir au moins un chiffre.</div>
                            <div style="color: red;" *ngIf="form.controls['newPassword'].errors?.['pattern']?.specialChar">Le mot de passe doit contenir au moins un caractère spécial.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirmer le mot de passe</label>
                        <div class="password-input">
                            <input type="password" [type]="passwordVisible3 ? 'text' : 'password'"
                                formControlName="confirmPassword" required />
                            <i class="toggle-password fas" [class.fa-eye]="!passwordVisible"
                                [class.fa-eye-slash]="passwordVisible3" (click)="togglePasswordVisibility3()"></i>
                        </div>
                        <div style="color: red;"
                            *ngIf="form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched)">
                            <div style="color: red;" *ngIf="form.controls['confirmPassword'].errors?.['required']">La confirmation du mot de passe est requise.</div>
                            <div style="color: red;" *ngIf="form.controls['confirmPassword'].errors?.['mustMatch']">Les mots de passe doivent correspondre.</div>
                        </div>
                    </div>
                    <button (click)="form.valid && onSubmit()" [disabled]="this.form.invalid" type="submit">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
</div>


