<div class="dv">
    <h2>Mes Reclamations</h2>
    <div class="container-card" *ngIf="reclamations && reclamations.length > 0; else noData">
      <p-card class="card" *ngFor="let reclamation of reclamations" [style]="{}">
        <ng-template pTemplate="header">
          
        </ng-template>
        <div class="p-d-flex p-flex-column" style="line-height: 1.5">
          <div class="p-d-flex p-jc-between">
            <div>Status: <strong>{{ reclamation.status }}</strong></div>
          </div>
          <div><strong>Nom Et Prénom:</strong> {{ reclamation.nomprenom }}</div>
          <div><strong>Sujet:</strong> {{ reclamation.sujet }}</div>
          <div><strong>Description:</strong> {{ reclamation.description }}</div>
        </div>
        
      </p-card>
    </div>
    <ng-template #noData>
      <p>No reclamations to display.</p>
    </ng-template>
  </div>
  