<!-- SIDEBAR -->
<section id="sidebar" [class.hide]="isSidebarHidden">
    <a routerLink="../admin" class="brand">AdminBord</a>
    <ul class="side-menu">
        <li><a routerLink="../admin" class="active"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
        <li class="divider" data-text="main">Main</li>
        <li><a routerLink="../listeContrats"><i class='bx bxs-chart icon'></i> contrats</a></li>

        <!-- Dropdown Menu for Users -->
        <li>
            <a  (click)="toggleUsersDropdown()"><i class='bx bxs-widget icon'></i> Utilisateurs <i class='bx bx-chevron-down icon-right'></i></a>
            <ul class="dropdown" *ngIf="showUsersDropdown">
                <li><a routerLink="../listeAdherent"><i class='bx bx-user-check icon'></i> Validés</a></li>
                <li><a routerLink="../listeUsersVerifie"><i class='bx bx-user icon'></i> Vérifiés</a></li>
                <li><a routerLink="../listeUserNonVerifie"><i class='bx bx-user-x icon'></i> Non Vérifiés</a></li>
                <li><a routerLink="../listeUsersDesactives"><i class='bx bx-user-minus icon'></i> Désactivés</a></li>
            </ul>
        </li>

		<!-- Dropdown Menu for Users -->
        <li>
            <a  (click)="toggleReclamationsDropdown()"><i class='bx bxs-bookmark icon'></i> Reclamation <i class='bx bx-chevron-down icon-right'></i></a>
            <ul class="dropdown" *ngIf="showReclamationsDropdown">
                <li><a routerLink="../listeReclamation"><i class='bx bxs-time-five icon'></i> En Cours</a></li>
                <li><a routerLink="../listeReclamationAccepte"><i class='bx bxs-check-square icon'></i> Acceptés</a></li>
                <li><a routerLink="../listeReclamationRefuse"><i class='bx bxs-x-circle icon'></i> Refusés</a></li>
            </ul>
        </li>

        <li><a routerLink="../branches"><i class='bx bx-table icon'></i> Branches</a></li>
        <li><a routerLink="../listeProduit"><i class='bx bxs-notepad icon'></i> Produits <i class='bx bx-chevron-right icon-right'></i></a></li>
        <li><a routerLink="../listeContact"><i class='bx bx-table icon'></i> Contacts</a></li>
        <li><a routerLink="../adminagence"><i class='bx bxs-map-pin icon'></i> Agences</a></li>
    </ul>
</section>
<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu toggle-sidebar' (click)="toggleSidebar()"></i>
        <form action="#">
            <div class="form-group">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search icon'></i>
            </div>
        </form>
        <div class="profile">
            <li><a href="#" (click)="logout()"><i style="color: #3e8155;" class='bx bxs-log-out-circle'></i> Logout</a></li>
        </div>
    </nav>
</section>
<!-- NAVBAR -->






