<main>
    <h1 class="title">Dashboard</h1>
    <ul class="breadcrumbs">
      <li><a href="/reclamation">reclamations</a></li>
      <li class="divider">/</li>
      <li><a href="#" class="active">Dashboard</a></li>
    </ul>
  
    <div class="data">
      <div class="content-data">
        <div class="containerListe">
          <h1>Liste reclamations</h1>
          <p-table [value]="reclamations" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Subjet</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reclamation>
              <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.telephone }}</td>
                <td>{{ reclamation.categorie }}</td>
                <td>{{ reclamation.sujet }}</td>
                <td>{{ reclamation.status }}</td>
                <td>
                  <button pButton type="button" icon="pi pi-check" (click)="updateStatus(reclamation.id, 'APPROUVÉ')" tooltip="Approve"></button>
                  <button pButton type="button" icon="pi pi-times" (click)="updateStatus(reclamation.id, 'REFUSÉ')" tooltip="Deny"></button>
                  <button pButton type="button" icon="pi pi-download" (click)="downloadFile(reclamation.id)" tooltip="Download File"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </main>
  